$white: #ffffff;
$darkSilver: #6a6e6f;
$zorba: #a29c8e;
$paleSilver: #c4c1bc;
$alto: #d8d8d8;
$alabaster: #eaedf0;
$cultured: #f6f6f6;

$black: #000000;
$diesel: #140001;
$poloBlue: #87aad0;
$poloBlue80: rgba(135, 170, 208, 0.8);
$horizon: #5d7da3;
$eastBay: #3e567c;
